<div class="container mt-4">
  <h2 class="text-primary mb-3">Lista de Cardenales</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let candidato of candidatos">
      <div class="card mb-4 shadow-sm" (click)="verDetalle(candidato.id)" style="cursor:pointer">
        <div class="card-body">
          <h5 class="card-title">{{ candidato.nombre }}</h5>
          <p class="card-text">País: {{ candidato.pais_origen }}</p>
          <p class="card-text">Edad: {{ candidato.edad }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-success mt-5" *ngIf="papaSeleccionado">
    <strong>Nuevo Papa</strong> El cardenal elegido aleatoriamente como nuevo Papa es: <b>{{ papaSeleccionado.nombre }}</b>
  </div>
</div>
